@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

#app {
    max-width: 55rem;
    margin: 0 auto;
    overflow: hidden;
    font-family: "Inter", sans-serif;
}

canvas {
    border: 1px solid #000;
}

button {
    cursor: pointer;
}

h1 {
    margin: 3rem 0 0 0;
}

p {
    margin: 0.5rem 0 2rem 0;
    color: #888;
}
